.body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

#content {
    padding: 20px;
}

.tagline {
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
    color: #333;
    letter-spacing: 2px;
    font-weight: bold;
}

.brand {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
}

.title {
    color: #333;
    font-size: 24px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    background-color: #dedede;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 20px;
    padding: 20px;
    list-style: none;
    margin: 0;
}

.card h3 {
    margin-top: 15px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Hover effect for product cards */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(2, 1, 1, 0.15);
    color: crimson;
}

/* Added for transition */
.img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.info {
    margin-top: 10px;
}

.price {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.desc {
    color: #555;
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0;
    flex-grow: 1;
}


.btn {
    background-color: #000;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    width: 80%;
}

.btn:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Tablets*/
@media screen and (max-width: 768px) {
    #main-header {
        padding: 30px;
    }

    .tagline {
        font-size: 28px;
        margin: 30px 0;
    }

    .brand {
        margin: 15px;
        padding: 15px;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
        padding: 15px;
    }
}

/* Mobiles*/
@media screen and (max-width: 480px) {
    #main-header {
        padding: 20px;
    }

    #main-header h1 {
        font-size: 24px;
    }

    .tagline {
        font-size: 22px;
        margin: 20px 0;
        letter-spacing: 1px;
    }

    .brand {
        margin: 10px;
        padding: 10px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    .card {
        padding: 10px;
    }

    .btn {
        width: 100%;
        padding: 10px 15px;
    }
}